//Variales de tamaños 

$fuente: 30px;


//Variable de color 

$color: #00214d;

$rojito: #CC0000;

$color-mixin: #7DC24B;


//VARIABLES de colores con MAP

$colores-head:(
    fondo: #fffffe,
    dropdown: black,
    content--hover: #f9f9f9,
    box--shadow: rgba(0,0,0,0.2),
    dropdown--hover: #f1f1f1,

);


$colores-main:(
    //Carousel
    carousel-fondo: white,

    //Eventos
    eventos-fondo: linear-gradient(to right, #CC0000 0%, #FFCC00 90%),
    fondo--mobile: #7DC24B,

    desafio-fondo: #41AAC4,
    desafio-h1: #EFF8FF,

    informacion-fondo: rgba(246,247,146,0.9),

    informacion2-fondo:  #80d600,

    galeria-fondo: rgba(255,255,255,0.9),

    //Noticias
    noticias-fondo: crimson,
    medio: rgba(255,255,255,0.9),
    color: #fff,


);

