@use 'commons' as c;

/* -----------FOOTER--------- */

#footer{
    font-size: calc(c.$fuente/2);
    margin-top: 0;


    font{
        margin-left: -20px;
        vertical-align: inherit;

    }


    img{
        width: 25px;
        height: 25px;
        margin-top: -23px;

    }


    .fb{
        width: 20px;
        height: 20px;
    
    }
}


@media screen and (min-width: 1024px) {
    #footer{
        font-size: 20px;
    
    
        img{
            width: 30px;
            height: 30px;
            margin-top: -11px;
     
        }
    

        .fb{
            width: 25px;
            height: 25px;
        
        }
    }
}
