/* ---FOOTER--- */

font{
    vertical-align: inherit;
}


.img__footer{
    align-items: center;
}


.img__footer--inst{
    width:34px;
    height:34px;
}


.img__footer--fb{
    width:27px;
    height:27px;
}